In [1]:
import pandas as pd
from src.utils import *

In [2]:
pokemon = get_all_pokemons_from_api()
pokemon

'https://pokeapi.co/api/v2/pokemon/1/'

In [3]:
pokemon_info = get_pokemon_info(pokemon)
df_pokemon_info = pd.DataFrame(pokemon_info)
df_pokemon_info

   pokemon_id       name  height  weight
0           1  bulbasaur       7      69

In [4]:
pokemon_abilities = get_abilities_from_api(pokemon)
df_pokemon_abilities = pd.DataFrame(pokemon_abilities)
df_pokemon_abilities

,abilitie_id,name,effect,pokemon_id
0,65,overgrow,When this Pokémon has 1/3 or less of its HP re...,1
1,34,chlorophyll,Während strong sunlight ist die speed eines Po...,1

In [5]:
pokemon_moves = get_moves_from_api(pokemon)
df_pokemon_moves = pd.DataFrame(pokemon_moves)
df_pokemon_moves

,move_id,name,effect,pokemon_id
0,13,razor-wind,Inflicts regular damage. User's critical hit ...,1
1,14,swords-dance,Raises the user's Attack by two stages.,1
2,15,cut,Inflicts regular damage.,1
3,20,bind,Inflicts regular damage. For the next 2–5 tur...,1
4,22,vine-whip,Inflicts regular damage.,1
...,...,...,...,...
81,580,grassy-terrain,"For five turns, heals all Pokémon on the groun...",1
82,590,confide,Lowers the target's Special Attack by one stage.,1
83,803,grassy-glide,Inflicts regular damage.,1
84,851,tera-blast,Null,1
85,885,trailblaze,Null,1